{% extends 'base.html.twig' %}

{% block title '404_error_headline'|trans %}

{% block body %}
  <h1 class="mb-4">{{ '404_error_headline'|trans }}</h1>
  <p>
    {{ '404_error_body'|trans }}
  </p>
{% endblock %}
