{% extends 'base.html.twig' %}

{% block title '500_error_headline'|trans %}

{% block body %}
  <h1 class="mb-4">{{ '500_error_headline'|trans }}</h1>
  <p>
    {{ '500_error_body'|trans }}
  </p>
{% endblock %}
